.account-actions {
  margin-left: auto;
  display: flex;
  align-items: center;
  position: relative;
}
.shown {
  position: relative;
  left: 0;
}

.hidden {
  display: none;
  position: absolute;
  left: 999px;
}

.highlighed {
  font-size: 1.25rem;
  font-weight: bold;
  color: #62DEBE;
  margin: -5px 0 0.75rem 0;
  display: inline-block;
}

.list--lable {
  font-weight: bold;
  color: darken(#62DEBE, 30%);
}

.hasDropdown{
  position: relative;
  &:after {
    position: absolute;
    color: #999;
    content: '▼';
    right: 0;
    bottom: 0;
  }
}
.account-dropdown {
  .form--dropdown {
    display: block;
    position: absolute;
    right: 0;
    background: lighten(#0D1313, 5%);
    width: 25vw;
    padding: 1rem;
    margin: 0;
    z-index: 1;
    list-style-type: none;
    ul {
      list-style-type: none;
      padding-left: 0.75rem;
      li {
        margin: 0.25rem;
      }
    }
  }
}

@media (max-width: 600px) {
  .account-dropdown ul.down {
    width: 100vw;
    padding: 1rem;
  }
}

.user--btn--dropdown {
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  background: inherit;
  padding: 20px;
  display: inline-block;
  border: none;
  cursor: pointer;

  &:focus {outline:0;}

  &:hover {
    color: #fff;
    background: lighten(#0D1313, 5%);
  }
  &.grey {
    background: lighten(#0D1313, 5%);
  }
}
