.account-actions {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.account-dropdown {
  ul {
    // hide dropdown at first
    display: none;
  }
}

.account-dropdown ul.down {
  display: block;
}

.user--btn--dropdown {
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  background: inherit;
  padding: 20px;
  display: inline-block;
  border: none;

  &:hover {
    color: #fff;
    background: darken(#fff, 85%);
  }
}

input[type=checkbox] {
}

input[type=checkbox]:checked ~ ul {
  display: block;
}
