.account-actions {
  margin-left: auto;
  display: flex;
  align-items: center;
  position: relative;
}

.account-dropdown {
  ul {
    // hide dropdown at first
    display: none;
  }
}

.account-dropdown ul.down {
  display: block;
  position: absolute;
  right: 0;
  background: lighten(#0D1313, 5%);
  width: 25vw;
  padding: 1rem;
  margin: 0;
  z-index: 1;
  list-style-type: none;
}

.shown {
  position: relative;
  left: 0;
}

.hidden {
  position: absolute;
  left: 230px;
}

@media (max-width: 600px) {
  .account-dropdown ul.down {
    width: 100vw;
    padding: 1rem;
  }
}

.user--btn--dropdown {
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  background: inherit;
  padding: 20px;
  display: inline-block;
  border: none;

  &:focus {outline:0;}

  &:hover {
    color: #fff;
    background: lighten(#0D1313, 5%);
  }
  &.grey {
    background: lighten(#0D1313, 5%);
  }
}

input[type=checkbox] {
}

input[type=checkbox]:checked ~ ul {
  display: block;
}
