/* Base Application Styles */

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color: #fff;
  background: #222;
}

.index img {
  margin: 40px auto;
  border-radius: 4px;
  background: #fff;
  display: block;
}

.map {
  overflow: auto;
  position: relative;
  top: 0;
  left: 0;
  height: calc(58px-100vh);
  z-index: -50px;
}

.index .notice {
  margin: 20px auto;
  padding: 15px 0;
  text-align: center;
  border: 1px solid #000;
  border-width: 1px 0;
  background: #666;
}

.page {
  height: calc(100vh - 59px);
  padding: 1.5rem 1rem 1rem 1rem;
}
