.login--btn {
  text-transform: uppercase;
  text-decoration: none;
  color: #CDD0D0;
  background: darken(#005c89, 3%);
  padding: 20px;
  display: inline-block;
  border: 0;
  outline: 0;
  cursor: pointer;

  &:hover {
    color: #fff;
    background: darken(#005c89, 10%);
  }
}
