.logout--btn {
  text-transform: uppercase;
  text-decoration: none;
  color: lighten(#5d1212, 70%);
  background: #5d1212;
  padding: 20px;
  display: inline-block;
  border: 0;
  outline: 0;
  cursor: pointer;

  &:hover {
    color: lighten(#5d1212, 70%);
    background: #3c0c0c;
  }
}
